CwFramework.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://xml.coreerp.com/schema/CwFramework"
            xmlns:tns="http://xml.coreerp.com/schema/CwFramework"
            elementFormDefault="qualified" >
    
    <xsd:element name="cwFramework" type="tns:cw_framework_type"></xsd:element>
    
    <xsd:complexType name="cw_framework_type">
        <xsd:choice>
            <xsd:element name="businessObject" type="tns:business_object_type"/>
            <xsd:element name="collectionView" type="tns:collection_view_type"/>
            <xsd:element name="lookup" type="tns:lookup_type"/>
            <xsd:element name="reportView" type="tns:rpt_view_type"/>
            <xsd:element name="formView" type="tns:form_view_type"/>
            <xsd:element name="allocView" type="tns:alloc_view_type"/>
            <xsd:element name="cwfConfig" type="tns:cwf_config_type"/>
        </xsd:choice>
    </xsd:complexType>
    
    <xsd:simpleType name="en_business_object_type">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Master" />
            <xsd:enumeration value="Document"/>
            <xsd:enumeration value="Report"/>
            <xsd:enumeration value="alloc"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="en_connection_type">
        <xsd:choice>
            <xsd:element name="companyDB">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Company Database</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="mainDB">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Main Database</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:choice>
    </xsd:complexType>
    
    <xsd:complexType name="criteria_type">
        <xsd:sequence>
            <xsd:element name="param" >
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="name" type="xsd:string" />
                        <xsd:element name="type" type="tns:en_data_type" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="en_data_type">
        <xsd:choice>
            <xsd:element name="long" />
            <xsd:element name="string" />
            <xsd:element name="date" />
            <xsd:element name="time" />
        </xsd:choice>
    </xsd:complexType>
    
    <xsd:complexType name="sql_command_type">
        <xsd:sequence>
            <xsd:element name="command" type="xsd:string"/>
            <xsd:element name="params" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="param" type="tns:sql_param_type" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="sql_param_type">
        <xsd:choice>
            <xsd:group ref="tns:base_param_type"/>
        </xsd:choice>
        <xsd:attribute name="id" type="xsd:string"/>
    </xsd:complexType>
    
    <xsd:simpleType name="session_param_type">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="domain_id"/>
            <xsd:enumeration value="company_id"/>
            <xsd:enumeration value="branch_id"/>
            <xsd:enumeration value="finyear"/>
            <xsd:enumeration value="year_begin"/>
            <xsd:enumeration value="year_end"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:complexType name="business_object_type">
        <xsd:sequence>
            <!-- <xsd:element name="criteria" type="tns:criteria_type" /> -->
            <xsd:element name="connectionType" type="tns:en_connection_type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Specify the Connection Type. Based on where your tables reside. Company or Main. Default: CompanyDB</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="controlTable" type="tns:control_table_type">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">All relations to create the BO start from this table. This is primary table.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="validateBeforeDelete" type="tns:validate_before_delete_type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Base validations called before delete of document/master. This ensures that references of the document/master to 
                        in other tables is not broken because of accidental delete of the document/master. Usually the primary key of the control table is searched in 
                        all other tables in the database.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="codeBehind" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">This is used to associate the BO Event Handler php class with this business object</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="className" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:string" use="required" />
        <xsd:attribute name="type" type="tns:en_business_object_type" use="required" />
        <xsd:attribute name="extends" type="xsd:string"/>
    </xsd:complexType> 
    
    <xsd:complexType name="control_table_type">
        <xsd:sequence>
            <xsd:element name="tableName" type="xsd:string"/>
            <xsd:element name="primaryKey" type="xsd:string"/>
            <xsd:element name="basePrimaryKey" type="xsd:string" minOccurs="0"/>
            <xsd:element name="customColumns" minOccurs="0" >
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="customColumn" type="tns:custom_column_type" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:choice minOccurs="0" maxOccurs="unbounded">
                <xsd:element name="jsonField" type="tns:json_field_type" />
            </xsd:choice>
            <xsd:element name="fetchOrCreate" type="tns:fetch_or_create_type"/>
            <xsd:element name="save" type="tns:save_type"/>
            <xsd:element name="delete" type="tns:delete_type" minOccurs="0"/>
            <xsd:element name="tranTable" type="tns:tran_table_type" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="reverseTranTable" type="tns:tran_table_type" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="method" type="tns:en_method_type"/>
    </xsd:complexType>
    
    <xsd:complexType name="fetch_or_create_type">
        <xsd:choice>
            <xsd:element name="useEntity"/>
            <xsd:element name="useOnFetch"/>
        </xsd:choice>
    </xsd:complexType>
    
    <xsd:complexType name="save_type">
        <xsd:sequence>
            <xsd:choice>
                <xsd:element name="useEntity"/>
                <xsd:element name="useOnSave"/>
            </xsd:choice>
            <xsd:element name="fieldPattern" type="tns:field_pattern_type" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="delete_type">
        <xsd:choice>
            <xsd:element name="useEntity"/>
            <xsd:element name="useOnDelete"/>
        </xsd:choice>
    </xsd:complexType>
    
    <xsd:complexType name="tran_table_type">
        <xsd:sequence>
            <xsd:element name="tableName" type="xsd:string"/>
            <xsd:element name="primaryKey" type="xsd:string"/>
            <xsd:element name="customColumns" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="customColumn" type="tns:custom_column_type" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="relation">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="foreignKey" type="xsd:string"/>
                        <xsd:element name="rootForeignKey" type="xsd:string" minOccurs="0"/>
                    </xsd:sequence>
                    <xsd:attribute name="linkType" type="tns:en_relation_type"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="fetchOrCreate" type="tns:fetch_or_create_type"/>
            <xsd:element name="save" type="tns:tran_save_type"/>
            <xsd:element name="delete" type="tns:delete_type"/>
            <xsd:element name="tranTable" type="tns:tran_table_type" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:string"/>
    </xsd:complexType>
    
    <xsd:complexType name="tran_save_type">
        <xsd:sequence>
            <xsd:choice>
                <xsd:element name="useEntity"/>
                <xsd:element name="useOnSave"/>
            </xsd:choice>
            <xsd:element name="primaryKeyPattern" type="tns:primary_key_pattern_type"/>
            <xsd:element name="fieldPattern" type="tns:field_pattern_type" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="custom_column_type">
        <xsd:attribute name="name" type="xsd:string" use="required"/>
        <xsd:attribute name="type" type="tns:en_field_data_type" use="required"/>
        <xsd:attribute name="length" type="xsd:long" use="optional" />
        <xsd:attribute name="scale" type="xsd:long" use="optional" />
    </xsd:complexType>
    
    <xsd:complexType name="validate_before_delete_type">
        <xsd:sequence>
            <xsd:element name="excludeTables" type="xsd:string"/>
            <xsd:element name="surrogateFields" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:simpleType name="en_relation_type">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="OneToMany" />
            <xsd:enumeration value="OneToOne"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:complexType name="primary_key_pattern_type">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="xsd:string" fixed="md5" />
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:complexType name="field_pattern_type">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="field" type="xsd:string" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:simpleType name="en_method_type">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Overrides" />
            <xsd:enumeration value="Extends"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="collection_view_type">
        <xsd:sequence>
            <xsd:element name="header" type="xsd:string"/>
            <xsd:element name="collectionSection" type="tns:collection_section_type"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:string"/>
        <xsd:attribute name="type" type="tns:en_business_object_type"/>
        <xsd:attribute name="bindingBO" type="xsd:string"/>
        <xsd:attribute name="editView" type="xsd:string"/>
    </xsd:complexType>
    
    <xsd:complexType name="collection_section_type">
        <xsd:sequence>
            <xsd:element name="connectionType" type="tns:en_connection_type"/>
            <xsd:element name="sql" type="tns:sql_command_type"/>
            <xsd:element name="displayFields">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="displayField" type="tns:display_field_type" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="editNotAllowed" type="tns:edit_not_allowed_type" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="key_field_type">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string"/>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:complexType name="lookup_key_field_type">
        <xsd:attribute name="id" type="xsd:string" />
    </xsd:complexType>
    
    <xsd:complexType name="display_field_type">
        <xsd:attribute name="columnName" type="xsd:string"/>
        <xsd:attribute name="displayName" type="xsd:string"/>
        <xsd:attribute name="format" type="tns:en_display_format_type"/>
        <xsd:attribute name="wrapIn" type="xsd:string"/>
        <xsd:attribute name="style" type="xsd:string"/>
        <xsd:attribute name="class" type="xsd:string"/>
    </xsd:complexType>
    
    <xsd:complexType name="form_display_field_type">
        <xsd:complexContent>
            <xsd:extension base="tns:form_field_type">
                <xsd:attribute name="columnName" type="xsd:string"/>
                <xsd:attribute name="displayName" type="xsd:string"/>
                <xsd:attribute name="format" type="tns:en_display_format_type"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:simpleType name="en_display_format_type">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Date"/>
            <xsd:enumeration value="Datetime"/>
            <xsd:enumeration value="Amount"/>
            <xsd:enumeration value="Rate"/>
            <xsd:enumeration value="Qty"/>
            <xsd:enumeration value="FC"/>
            <xsd:enumeration value="Html"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:complexType name="edit_not_allowed_type">
        <xsd:attribute name="field" type="xsd:string" use="required"/>
    </xsd:complexType>
    
    <xsd:complexType name="lookup_type">
        <xsd:sequence>
            <xsd:element name="connectionType" type="tns:en_connection_type"></xsd:element>
            <xsd:element name="sql" type="tns:sql_command_type"></xsd:element>
            <xsd:element name="keyField" type="tns:lookup_key_field_type"></xsd:element>
            <xsd:element name="padField" type="tns:lookup_key_field_type" maxOccurs="1" minOccurs="0"></xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:string"/>
    </xsd:complexType>
    
    <xsd:complexType name="rpt_param_type">
        <xsd:choice>
            <xsd:group ref="tns:base_param_type"/>
            <xsd:element name="preset"/>
            <xsd:element name="dateFormat" />
            <xsd:element name="numberFormat" />
        </xsd:choice>
        <xsd:attribute name="id" type="xsd:string"/>
    </xsd:complexType>
    
    <xsd:complexType name="rpt_view_type">
        <xsd:sequence>
            <xsd:element name="header" type="xsd:string"></xsd:element>
            <xsd:element name="clientJsCode" type="xsd:string" minOccurs="0"></xsd:element>
            <xsd:element name="clientJsCodeRefs" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="clientJsCodeRef" type="xsd:string" maxOccurs="unbounded"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="jsEvents" minOccurs="0" type="tns:js_events_type"></xsd:element>
            <xsd:element name="controlSection">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="dataBinding" type="tns:rpt_databinding_type"></xsd:element>
                    </xsd:sequence>
                    <xsd:attribute name="editMode" type="tns:en_edit_type"/>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:string"/>
        <xsd:attribute name="type" type="tns:en_business_object_type"/>
        <xsd:attribute name="rptPath" type="xsd:string"/>
        <xsd:attribute name="rptName" type="xsd:string"/>
    </xsd:complexType>
    
    <xsd:complexType name="rpt_databinding_type">
        <xsd:choice maxOccurs="unbounded">
            <xsd:element name="field" type="tns:form_field_type" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="param" type="tns:rpt_param_type" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="nextRow" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="rptCompanyInfoPrefix" minOccurs="0"/>
        </xsd:choice>
    </xsd:complexType>
    
    <xsd:simpleType name="en_edit_type">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Edit"/>
            <xsd:enumeration value="Add|Edit|Delete"/>
            <xsd:enumeration value="Add|Edit"/>
            <xsd:enumeration value="Auto"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:group name="base_param_type">
        <xsd:sequence>
            <xsd:choice>
                <xsd:element name="session" type="tns:session_param_type"/>
                <xsd:element name="text" type="xsd:string"/>
                <xsd:element name="currentDate"/>
            </xsd:choice>
        </xsd:sequence>
    </xsd:group>
    <xsd:complexType name="lookup_reference_type">
        <xsd:sequence>
            <xsd:element name="valueMember" type="xsd:string"></xsd:element>
            <xsd:element name="displayMember" type="xsd:string"></xsd:element>
            <xsd:element name="namedLookup" type="xsd:string"></xsd:element>
            <xsd:element name="filter" type="xsd:string" minOccurs="0"></xsd:element>
            <xsd:element name="filterEvent" type="xsd:string" minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="field_combo_option_type">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="value" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:simpleType name="en_field_control_type">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Label"/>
            <xsd:enumeration value="SmartCombo"/>
            <xsd:enumeration value="SimpleCombo"/>
            <xsd:enumeration value="FC"/>
            <xsd:enumeration value="SmartTextBox"/>
            <xsd:enumeration value="Date"/>
            <xsd:enumeration value="Time"/>
            <xsd:enumeration value="CheckBox"/>
            <xsd:enumeration value="TextArea"/>
            <xsd:enumeration value="TextBox"/>
            <xsd:enumeration value="Password"/>
            <xsd:enumeration value="Hidden"/>
            <xsd:enumeration value="Toggle"/>
            <xsd:enumeration value="DateTimeText"/>
            <xsd:enumeration value="Span"/>            
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="en_field_data_type">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="string"/>
            <xsd:enumeration value="int"/>
            <xsd:enumeration value="decimal"/>
            <xsd:enumeration value="date"/>
            <xsd:enumeration value="time"/>
            <xsd:enumeration value="datetime"/>
            <xsd:enumeration value="bool"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="en_field_size_type">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="xs">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Extra Small. Equivalent to 1 bootstrap column in the rendering area</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="ms">
                <xsd:annotation >
                    <xsd:documentation xml:lang="en">Medium Small. Equivalent to 2 bootstrap columns in the rendering area</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="s">
                <xsd:annotation >
                    <xsd:documentation xml:lang="en">Small. Equivalent to 3 bootstrap columns in the rendering area</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="m">
                <xsd:annotation >
                    <xsd:documentation xml:lang="en">Medium. Equivalent to 6 bootstrap columns in the rendering area</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="l">
                <xsd:annotation >
                    <xsd:documentation xml:lang="en">Large. Equivalent to 9 bootstrap columns in the rendering area</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="xl">
                <xsd:annotation >
                    <xsd:documentation xml:lang="en">Extra Large. Equivalent to 12 bootstrap columns in the rendering area</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="0" />
            <xsd:enumeration value="1" />
            <xsd:enumeration value="2" />
            <xsd:enumeration value="3" />
            <xsd:enumeration value="4" />
            <xsd:enumeration value="5" />
            <xsd:enumeration value="6" />
            <xsd:enumeration value="7" />
            <xsd:enumeration value="8" />
            <xsd:enumeration value="9" />
            <xsd:enumeration value="10" />
            <xsd:enumeration value="11" />
            <xsd:enumeration value="12" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="extn_en_field_size_type">
        <xsd:union memberTypes="tns:en_field_size_type">
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:pattern value="[cC]\d+"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:union>
    </xsd:simpleType>
    
    <xsd:complexType name="form_databinding_type">
        <xsd:choice maxOccurs="unbounded">
            <xsd:element name="field" type="tns:form_field_type" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="displayField" type="tns:form_display_field_type" maxOccurs="unbounded"/>
            <xsd:element name="param" type="tns:rpt_param_type" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="nextRow" type="tns:form_nextrow_type" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="cHtml" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="dummy" type="tns:form_dummy_type" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="tranSection" type="tns:form_transection_type" maxOccurs="unbounded" minOccurs="0"></xsd:element>
            <xsd:element name="cLink" type="tns:form_c_link_type" minOccurs="0" maxOccurs="unbounded"></xsd:element>
            <xsd:element name="cButton" type="tns:form_c_button_type" minOccurs="0" maxOccurs="unbounded"></xsd:element>
            <xsd:element name="addRowEvent" type="xsd:string" minOccurs="0"></xsd:element>
            <xsd:element name="customField" type="tns:form_field_type" minOccurs="0" maxOccurs="unbounded"></xsd:element>
            <xsd:element name="sectionHeader" type="tns:section_header_type" minOccurs="0" maxOccurs="unbounded"></xsd:element>
            <xsd:element name="xdiv" type="tns:form_xdiv_type" minOccurs="0" maxOccurs="unbounded"></xsd:element>
            <xsd:element name="xdivEnd" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="xtab" type="tns:form_xtab_type" minOccurs="0" maxOccurs="unbounded"></xsd:element>
            <xsd:element name="xtabEnd" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="xtabPage" type="tns:form_xtabPage_type" minOccurs="0" maxOccurs="unbounded"></xsd:element>
            <xsd:element name="xtabPageEnd" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="callMethod" type="tns:form_callMethod_type" minOccurs="0" maxOccurs="unbounded"></xsd:element>
        </xsd:choice>
        <xsd:attribute name="dataProperty" type="xsd:string"/>
    </xsd:complexType>
    
    <xsd:complexType name="form_nextrow_type">
        <xsd:attribute name="style" type="xsd:string"/>
    </xsd:complexType>
    
    <xsd:complexType name="form_dummy_type">
        <xsd:attribute name="style" type="xsd:string"/>
        <xsd:attribute name="size" type="tns:extn_en_field_size_type"/>
    </xsd:complexType>
    
    <xsd:complexType name="form_xdiv_type">
        <xsd:attribute name="id" type="xsd:string"/>
        <xsd:attribute name="size" type="tns:extn_en_field_size_type"/>
        <xsd:attribute name="class" type="xsd:string"/>
        <xsd:attribute name="style" type="xsd:string"/>
    </xsd:complexType>
    
    <xsd:complexType name="form_xtab_type">
        <xsd:attribute name="id" type="xsd:string"/>
        <xsd:attribute name="size" type="tns:extn_en_field_size_type"/>
        <xsd:attribute name="class" type="xsd:string"/>
        <xsd:attribute name="style" type="xsd:string"/>
    </xsd:complexType>
    
    <xsd:complexType name="form_xtabPage_type">
        <xsd:attribute name="id" type="xsd:string"/>
        <xsd:attribute name="size" type="tns:extn_en_field_size_type"/>
        <xsd:attribute name="class" type="xsd:string"/>
        <xsd:attribute name="style" type="xsd:string"/>
        <xsd:attribute name="tabid" type="xsd:string"/>
        <xsd:attribute name="onClick" type="xsd:string"/>
        <xsd:attribute name="isFirst" type="xsd:boolean"/>
    </xsd:complexType>
    
    <xsd:complexType name="form_callMethod_type">
        <xsd:attribute name="id" type="xsd:string"/>
        <xsd:attribute name="size" type="tns:extn_en_field_size_type"/>
        <xsd:attribute name="class" type="xsd:string"/>
        <xsd:attribute name="style" type="xsd:string"/>
        <xsd:attribute name="methodName" type="xsd:string"/>
    </xsd:complexType>
    
    <xsd:complexType name="form_field_type">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="value" type="tns:rpt_param_type"></xsd:element>
            <xsd:element name="lookup" type="tns:lookup_reference_type"></xsd:element>
            <xsd:element name="options">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="option" type="tns:field_combo_option_type" minOccurs="2" maxOccurs="unbounded"></xsd:element>
                    </xsd:sequence>
                    <xsd:attribute name="defaultValue" type="xsd:string"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="computedField">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:extension base="xsd:string">
                            <xsd:attribute type="xsd:string" name="forceCalOnPost"/>
                        </xsd:extension>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>
        </xsd:choice>
        <xsd:attribute name="id" type="xsd:string"/>
        <xsd:attribute name="label" type="xsd:string" use="required"/>
        <xsd:attribute name="tranLabel" type="xsd:string"/>
        <xsd:attribute name="type" type="tns:en_field_data_type" use="required"/>
        <xsd:attribute name="control" type="tns:en_field_control_type" use="required"/>
        <xsd:attribute name="size" type="tns:extn_en_field_size_type" use="required"/>
        <xsd:attribute name="range" type="xsd:string" fixed="finYear"/>
        <xsd:attribute name="maxLength" type="xsd:int"/>
        <xsd:attribute name="isOptional" type="xsd:boolean"/>
        <xsd:attribute name="readOnly" type="xsd:string"/>
        <xsd:attribute name="scale" type="tns:en_scale_Type"/>
        <xsd:attribute name="allowNegative" type="xsd:boolean"/>
        <xsd:attribute name="maxVal" type="xsd:int"/>
        <xsd:attribute name="cdata-enable-on" type="xsd:string"/>
        <xsd:attribute name="cdata-visible-on" type="xsd:string"/>
        <xsd:attribute name="rows" type="xsd:int"/>
        <xsd:attribute name="smartText" type="xsd:string"/>
        <xsd:attribute name="cdata-bind" type="xsd:string"/>
        <xsd:attribute name="cell-data-bind" type="xsd:string"/>
        <xsd:attribute name="header-data-bind" type="xsd:string"/>
        <xsd:attribute name="mdata-event" type="xsd:string"/>
        <xsd:attribute name="toggleOn" type="xsd:string"/>
        <xsd:attribute name="toggleOff" type="xsd:string"/>
        <xsd:attribute name="data-fc-dependent" type="xsd:string"/>
        <xsd:attribute name="forStatus" type="xsd:boolean"/>
        <xsd:attribute name="forConsolidated" type="xsd:boolean"/>
        <xsd:attribute name="exchDisable" type="xsd:boolean"/>
        <xsd:attribute name="colspan" type="xsd:int"/>
        <xsd:attribute name="inline" type="xsd:boolean"/>
        <xsd:attribute name="class" type="xsd:string"/>
        <xsd:attribute name="style" type="xsd:string"/>
        <xsd:attribute name="placeholder" type="xsd:string"/>
        <xsd:attribute name="select-all-event" type="xsd:string"/>
    </xsd:complexType>
    
    <xsd:complexType name="form_view_type">
        <xsd:sequence>
            <xsd:element name="header" type="xsd:string"></xsd:element>
            <xsd:element name="keyField" type="tns:key_field_type" minOccurs="0"></xsd:element>
            <xsd:element name="printView" type="tns:form_printview_type" minOccurs="0"></xsd:element>
            <xsd:element name="summaryView" type="xsd:string" minOccurs="0"></xsd:element>            
            <xsd:element name="newDocEnabled" type="tns:new_doc_enabled_type" minOccurs="0"></xsd:element>
            <xsd:element name="deleteDocEnabled" minOccurs="0"></xsd:element>
            <xsd:element name="unpostDisabled" minOccurs="0"></xsd:element>
            <xsd:element name="archiveEnabled" minOccurs="0"></xsd:element>
            <xsd:element name="clientJsCode" type="xsd:string" minOccurs="0"></xsd:element>
            <xsd:element name="clientJsCodeRefs" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="clientJsCodeRef" type="xsd:string" maxOccurs="unbounded"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="jsEvents" minOccurs="0" type="tns:js_events_type"></xsd:element>
            <xsd:element name="codeBehind" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="className" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="controlSection">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="dataBinding" type="tns:form_databinding_type"></xsd:element>
                    </xsd:sequence>
                    <xsd:attribute name="editMode" type="tns:en_edit_type"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="dmFiles" type="tns:dm_files_type" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:string"/>
        <xsd:attribute name="type" type="tns:en_business_object_type"/>
        <xsd:attribute name="bindingBO" type="xsd:string"/>
        <xsd:attribute name="helpLink" type="xsd:string"/>
    </xsd:complexType>
    
    <xsd:complexType name="alloc_view_type">
        <xsd:complexContent>
            <xsd:extension base="tns:form_view_type">
                <xsd:attribute name="width" type="xsd:string"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="section_header_type">
        <xsd:attribute name="label" type="xsd:string"/>
    </xsd:complexType>
    
    <xsd:complexType name="form_transection_type">
        <xsd:sequence>
            <xsd:element name="dataBinding" type="tns:form_databinding_type"></xsd:element>
        </xsd:sequence>
        <xsd:attribute name="label" type="xsd:string"/>
        <xsd:attribute name="editMode" type="tns:en_edit_type"/>
        <xsd:attribute name="fixedWidth" type="xsd:string"/>
        <xsd:attribute name="size" type="tns:extn_en_field_size_type"/>
        <xsd:attribute name="beforeDeleteMethod" type="xsd:string"/>
        <xsd:attribute name="dataRelation" type="tns:en_relation_type"/>  
        <xsd:attribute name="editMethod" type="xsd:string"/>
        <xsd:attribute name="cdata-enable-on" type="xsd:string"/>
        <xsd:attribute name="cdata-visible-on" type="xsd:string"/>
    </xsd:complexType>
    
    <xsd:complexType name="form_c_link_type">
        <xsd:attribute name="id" type="xsd:string"/>
        <xsd:attribute name="onClick" type="xsd:string"/>
        <xsd:attribute name="label" type="xsd:string"/>
        <xsd:attribute name="size" type="tns:extn_en_field_size_type"/>
        <xsd:attribute name="cdata-enable-on" type="xsd:string"/>
        <xsd:attribute name="cdata-visible-on" type="xsd:string"/>
        <xsd:attribute name="readOnly" type="xsd:string"/>
    </xsd:complexType>
    
    <xsd:complexType name="form_c_button_type">
        <xsd:attribute name="id" type="xsd:string"/>
        <xsd:attribute name="onClick" type="xsd:string"/>
        <xsd:attribute name="label" type="xsd:string"/>
        <xsd:attribute name="size" type="tns:extn_en_field_size_type"/>
        <xsd:attribute name="cdata-enable-on" type="xsd:string"/>
        <xsd:attribute name="cdata-visible-on" type="xsd:string"/>
        <xsd:attribute name="readOnly" type="xsd:string"/>
        <xsd:attribute name="tooltip" type="xsd:string"/>
        <xsd:attribute name="icon" type="xsd:string"/>
        <xsd:attribute name="nolabel" type="xsd:boolean"/>
        <xsd:attribute name="inline" type="xsd:boolean"/>
        <xsd:attribute name="has-header" type="xsd:boolean"/>
    </xsd:complexType>
    
    <xsd:complexType name="new_doc_enabled_type">
        <xsd:sequence>
            <xsd:element name="docType" type="xsd:string" minOccurs="0"></xsd:element>
            <xsd:element name="beforeNewEvent" type="xsd:string" minOccurs="0"></xsd:element>
            <xsd:element name="afterNewEvent" type="xsd:string" minOccurs="0"></xsd:element>
        </xsd:sequence>
        <xsd:attribute name="wizard" type="xsd:string"/>
        <xsd:attribute name="step" type="xsd:string"/>
        <xsd:attribute name="label" type="xsd:string"/>
    </xsd:complexType>
    
    <xsd:complexType name="js_events_type">
        <xsd:sequence>
            <xsd:element name="afterLoadEvent" minOccurs="0" type="xsd:string"></xsd:element>
            <xsd:element name="afterUnpostEvent" minOccurs="0" type="xsd:string"></xsd:element>
            <xsd:element name="afterPostEvent" minOccurs="0" type="xsd:string"></xsd:element>
            <xsd:element name="afterRefreshEvent" minOccurs="0" type="xsd:string"></xsd:element>            
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="dm_files_type">
        <xsd:attribute name="multipleFiles" type="xsd:string" />
    </xsd:complexType>
    
    <xsd:complexType name="form_printview_type">
        <xsd:choice>
            <xsd:element name="rptParams">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="param">
                            <xsd:complexType>
                                <xsd:simpleContent>
                                    <xsd:extension base="xsd:string">
                                        <xsd:attribute name="id" type="xsd:string"/>
                                    </xsd:extension>
                                </xsd:simpleContent>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:choice>
        <xsd:attribute name="rptOption" type="xsd:string"/>
    </xsd:complexType>
    
    <xsd:complexType name="cwf_config_type">
        <xsd:sequence>
            <xsd:element name="dbInfo">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="dbServer" type="xsd:string"></xsd:element>
                        <xsd:element name="dbMain" type="xsd:string"></xsd:element>
                        <xsd:element name="suName" type="xsd:string"></xsd:element>
                        <xsd:element name="suPass" type="xsd:string"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="pgInfo">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="pgUser" type="xsd:string"></xsd:element>
                        <xsd:element name="pgPass" type="xsd:string"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="rootModules">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="module" maxOccurs="unbounded" minOccurs="0">
                            <xsd:complexType>
                                <xsd:attribute name="name" type="xsd:string"/>
                                <xsd:attribute name="class" type="xsd:string"/>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="dbBackup">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="path" type="xsd:string"></xsd:element>
                    </xsd:sequence>
                    <xsd:attribute name="compress" type="tns:en_compress_type"/>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="json_field_type"> 
        <xsd:choice maxOccurs="unbounded">
            <xsd:element name="jobject" type="tns:jobject_type" />
            <xsd:element name="jfield" type="tns:jfield_type" />
        </xsd:choice>
        <xsd:attribute name="id" type="xsd:string" use="required"/>
    </xsd:complexType>
    
    <xsd:complexType name="jfield_type">
        <xsd:attribute name="name" type="xsd:string" use="required"/>
        <xsd:attribute name="type" type="tns:en_field_data_type" use="required" />        
    </xsd:complexType>
    
    <xsd:complexType name="jobject_type">
        <xsd:choice maxOccurs="unbounded">
            <xsd:element name="jfield" type="tns:jfield_type"/>
            <xsd:element name="jobject" type="tns:jobject_type"/>
        </xsd:choice>
        <xsd:attribute name="name" type="xsd:string" use="required"/>
        <xsd:attribute name="type" type="tns:en_jobject_type" use="required" />
    </xsd:complexType>
    
    <xsd:simpleType name="en_jobject_type">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="simple"/>
            <xsd:enumeration value="array"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="en_compress_type"> 
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="none"/>
            <xsd:enumeration value="singleFile"/>
            <xsd:enumeration value="multiFile"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="en_scale_Type">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="amt" />
            <xsd:enumeration value="rate" />
            <xsd:enumeration value="qty" />
            <xsd:enumeration value="fc" />
        </xsd:restriction>
    </xsd:simpleType>
    
</xsd:schema>